body {
  font-family: "Mulish", "serif";
}

/* button scroll */

.swiper-button-next:after,
.swiper-container-rtl .swiper-button-prev:after {
  display: none;
}

.swiper-button-prev:after,
.swiper-container-rtl .swiper-button-next:after {
  display: none;
}
